body {
    background-color: #293541;
}

#wrapper {
    min-height: calc(100% - 162px);
    width: 100%;
    background-color: #293541;
}

#content {
    padding: 0 15px;
    background-color: #fafafa;
    /*background-color: #F5F4F1;*/
}

@media(min-width:768px) {
    #content {
        position: absolute;
        margin: 0 0 0 250px;
        padding: 30px;
        min-height: calc(100% - 100px);
        min-width: calc(100% - 250px);
    }

    .navbar-brand {
        padding: 0px;
        background-color: #e5173f;
        min-width: 250px;
    }
    .navbar-brand:hover {
        background-color: #e5173f !important;
    }
}
